* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: rgb(0, 123, 255)
}

#new-book-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-book-btn, #cancel-btn {
    padding: 10px 20px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.header {
    background-color: #f4f4f4;
    padding: 20px;
}

#book-form {
    border: 1px solid #ccc;
    padding: 30px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    background-color: aliceblue;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.remove-btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}